@import url('https://fonts.googleapis.com/css?family=Condiment');

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 50px;
  background-color: #f1f1f1;
}

footer {
    background-color: #222;
    color: #fff;
    border-color: #080808;
	padding: 15px 30px 15px 30px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
}

.navbar {
     margin-bottom: 0;
     border-radius: 0;
}
    
.row.content {
	height: 100%;
	min-height: 500px;
}

.maincontent {
	background-color: #fff;
	min-height: 300px;
}

.sidenav-left {
     height: 100%;
}
.sidenav-right {
     padding-top: 20px;
     height: 100%;
}

.navbar-brand {
	font-family: 'Condiment', cursive;
	padding-top: 22px;
	padding-right: 20px;
	font-size: 28px;
}
 
@media screen and (max-width: 767px) {
.sidenav {
     height: auto;
     padding: 15px;
}
.row.content {height:auto;} 
}

	
/* Profile sidebar styles */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 25%;
  height: 25%;
}

.profile-userpic-content img {
  float: left;
  width: 10%;
  height: 10%;
}

.profile-usertitle {
  text-align: center;
  margin-top: 10px;
}

.profile-usertitle-name {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 7px;
  padding: 5px;
}

.profile-usertitle-place {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
}
    
.profile-usermenu {
  margin-top: 15px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #edf4ff;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}
/* Profile sidebar styles end */

/* Footer styles */
.footerlinks a {
    color: #9d9d9d;
}
.footerlinks a:hover {
    color: #fff;
}
.copyright {
    font-family: 'Condiment', cursive;
	text-align: right;
}
/* Footer styles end */

/* Rightside widgets */
.widget {
    margin: 0 0 25px 0;
    display: block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	color:#fff
}
.widget .widget-heading {
    padding: 7px 15px;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    text-transform: uppercase;
    text-align: right;
    color: white;
}
.widget .widget-body {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 300;
    background: #5b9bd1;
}
/* Rightside widgets end */

/* Table for profile info */
.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}
.table-user-information > tbody > tr > td {
    border-top: 0;
}
/* Table for profile info END*/

/* Image/music upload form styles */
.form-control, .thumbnail {
    border-radius: 2px;
}
.btn-info {
    background-color: #5b9bd1;
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload #logo-id {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 23px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.img-preview {
    max-width: 20%;
	float: none;
	margin: 0 auto;
}
.help-block {
	font-size: 12px;
}
.upload-submit {
	padding-left: 45%;
	margin-bottom: 10px;
}
.upload-message {
	font-size: 21px;
	font-weight: bold;
	text-align: center;
	font-style: italic;
	background-color: #fcf8e3;
}
.musicupload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 23px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
/* Upload form styles END */