<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Social Network</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <description/>
        <display-name>editUserOldInfoServlet</display-name>
        <servlet-name>editUserOldInfoServlet</servlet-name>
        <servlet-class>servlet.EditUserOldInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>uploadPhoto</display-name>
        <servlet-name>uploadPhoto</servlet-name>
        <servlet-class>servlet.UploadPhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>editMusic</display-name>
        <servlet-name>editMusic</servlet-name>
        <servlet-class>servlet.EditMusicServlet</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>profile</display-name>
        <servlet-name>profile</servlet-name>
        <servlet-class>servlet.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>editUser</display-name>
        <servlet-name>editUser</servlet-name>
        <servlet-class>servlet.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>SearchMusicServlet</display-name>
        <servlet-name>SearchMusicServlet</servlet-name>
        <servlet-class>servlet.SearchMusicServlet</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>uploadFile</display-name>
        <servlet-name>uploadFile</servlet-name>
        <servlet-class>servlet.UploadMusicServlet</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>servlet</display-name>
        <servlet-name>servlet</servlet-name>
        <servlet-class>servlet.RegistrationPageServlet</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>LogoutServlet</display-name>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editUserOldInfoServlet</servlet-name>
        <url-pattern>/editUserOldInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadPhoto</servlet-name>
        <url-pattern>/uploadPhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editMusic</servlet-name>
        <url-pattern>/editMusic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editUser</servlet-name>
        <url-pattern>/editUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMusicServlet</servlet-name>
        <url-pattern>/SearchMusicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadFile</servlet-name>
        <url-pattern>/uploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
</web-app>
